@model Bja.Entidades.Municipio

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section PageScripts{
<script src="/Scripts/jquery-ui-1.8.20.js"></script>
<script src="/Scripts/jquery.ui.datepicker-es.js"></script>
<script src="/Scripts/jquery.maskedinput.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#IdDepartamento").change(function () {
            fillCombo("IdProvincia", $("#IdDepartamento").val());
        });

        function fillCombo(updateId, value) {
            $.getJSON('@Url.Action("ProvinciasPorDepartamento")' + "/" + value, {},
                function (myData) {
                    $("#" + updateId).empty();
                    $.each(myData, function (i, item) {
                        //alert(item.Descripcion);
                        $("#" + updateId).append("<option id='" + item.Id + "'>" + item.Descripcion + "</option>");
                    })
                });
        }
    });
</script>    
}


<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Municipio</legend>

        <label>Departamento</label>
            @Html.DropDownList("IdDepartamento", String.Empty)

        <div class="editor-label">
            @Html.LabelFor(model => model.Codigo)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Codigo)
            @Html.ValidationMessageFor(model => model.Codigo)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Descripcion)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Descripcion)
            @Html.ValidationMessageFor(model => model.Descripcion)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IdProvincia, "Provincia")
        </div>
        <div class="editor-field">
            @Html.DropDownList("IdProvincia", String.Empty)
            @Html.ValidationMessageFor(model => model.IdProvincia)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
