@model Bja.Entidades.Medico

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section PageCSS{
    <style type="text/css">
        #cboTipoDI { 
            height:25px;
        }
    </style>
}

@section PageScripts{
<script src="/Scripts/jquery-ui-1.8.20.js"></script>
<script src="/Scripts/jquery.ui.datepicker-es.js"></script>
<script src="/Scripts/jquery.maskedinput.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#cboTipoDI").change(function () {  
            $('#IdTipoDocumentoIdentidad').val($('#cboTipoDI').val());
        })

        $(function () {
            //$("#FechaRegistro").datepicker();
            $("#FechaRegistro").datepicker($.datepicker.regional["es"]);
        });

        jQuery(function ($) {
            $("#FechaNacimiento").mask("99/99/9999");
        });
    });
</script>    
}

<h2>Registro de Médico</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Medico</legend>

        @*<div class="editor-label">
            @Html.LabelFor(model => model.IdSesion)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.IdSesion)
            @Html.ValidationMessageFor(model => model.IdSesion)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FechaUltimaTransaccion)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.FechaUltimaTransaccion)
            @Html.ValidationMessageFor(model => model.FechaUltimaTransaccion)
        </div>*@

        <div class="editor-label">
            @Html.LabelFor(model => model.FechaRegistro)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.FechaRegistro, new {style="width:120px;", @readonly = "readonly", maxlength=10})
            @Html.ValidationMessageFor(model => model.FechaRegistro)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Nombres)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Nombres)
            @Html.ValidationMessageFor(model => model.Nombres)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PrimerApellido)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.PrimerApellido)
            @Html.ValidationMessageFor(model => model.PrimerApellido)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SegundoApellido)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.SegundoApellido)
            @Html.ValidationMessageFor(model => model.SegundoApellido)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TercerApellido)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.TercerApellido)
            @Html.ValidationMessageFor(model => model.TercerApellido)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DocumentoIdentidad)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.DocumentoIdentidad, new {style="width: 150px;" })
            @Html.ValidationMessageFor(model => model.DocumentoIdentidad)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IdTipoDocumentoIdentidad)
        </div>
        <div class="editor-field">
            @*@Html.DropDownList("cboTipoDI","--Seleccione tipo de documento--")*@
            @*@Html.DropDownList("cboTipoDI", null, new{style="width:180px; height:25px"})*@
            @Html.DropDownList("cboTipoDI", "--Seleccione tipo de documento--")
            @Html.TextBoxFor(model => model.IdTipoDocumentoIdentidad, new {style="width: 1px; visibility:hidden" })
            @Html.ValidationMessageFor(model => model.IdTipoDocumentoIdentidad)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FechaNacimiento)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.FechaNacimiento, new { style="width: 120px;"}) (dd/mm/aaaa)
            @Html.ValidationMessageFor(model => model.FechaNacimiento)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IdLocalidadNacimiento)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.IdLocalidadNacimiento)
            @Html.ValidationMessageFor(model => model.IdLocalidadNacimiento)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.MatriculaColegioMedico)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.MatriculaColegioMedico)
            @Html.ValidationMessageFor(model => model.MatriculaColegioMedico)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CorreoElectronico)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.CorreoElectronico)
            @Html.ValidationMessageFor(model => model.CorreoElectronico)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Observaciones)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Observaciones)
            @Html.ValidationMessageFor(model => model.Observaciones)
        </div>

        <p>
            <input type="submit" value="Guardar" class="btn btn-primary" />
            @Html.ActionLink("Retornar al listado", "Index", null, new { @class="btn" })
        </p>
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}