@model Bja.Entidades.Medico

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalles</h2>

<fieldset>
    <legend>Medico</legend>

    @*<div class="display-label">
         @Html.DisplayNameFor(model => model.IdSesion)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IdSesion)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FechaUltimaTransaccion)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FechaUltimaTransaccion)
    </div>*@

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FechaRegistro)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FechaRegistro)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Nombres)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Nombres)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PrimerApellido)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PrimerApellido)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SegundoApellido)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SegundoApellido)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TercerApellido)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TercerApellido)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DocumentoIdentidad)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DocumentoIdentidad)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IdTipoDocumentoIdentidad)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IdTipoDocumentoIdentidad)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FechaNacimiento)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FechaNacimiento)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IdLocalidadNacimiento)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IdLocalidadNacimiento)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MatriculaColegioMedico)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MatriculaColegioMedico)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CorreoElectronico)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CorreoElectronico)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Observaciones)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Observaciones)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Editar", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Retornar al listado", "Index")
</p>
