@model IEnumerable<Bja.Entidades.Medico>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Médicos Resgistrados</h2>

<p>
    @Html.ActionLink("Registrar Médico", "Create")
</p>

<form method="get">
    <input type="text" name="criterioBusqueda" />
    <input type="submit" value="Buscar" id="Buscar" />
</form>
<br />
@{
    if (ViewBag.paginaActual == null)
    {
        ViewBag.paginaActual = 1;
    }
    
    if (ViewBag.criterioBusqueda == null)
    {
        ViewBag.criterioBusqueda = "";
    }    
    
    @Html.ActionLink("<<", "index", new { paginaActual = 1, criterioBusqueda = ViewBag.criterioBusqueda })
    @Html.ActionLink("<", "index", new { paginaActual = (ViewBag.paginaActual - 1), criterioBusqueda = ViewBag.criterioBusqueda })
    @Html.Name("página ") @ViewBag.paginaActual @Html.Name(" de ") @ViewBag.totalPaginas
    @Html.ActionLink(">", "index", new { paginaActual = (ViewBag.paginaActual + 1), criterioBusqueda = ViewBag.criterioBusqueda })
    @Html.ActionLink(">>", "index", new { paginaActual = (ViewBag.totalPaginas), criterioBusqueda = ViewBag.criterioBusqueda })
    @Html.Name("Total registros ") @ViewBag.totalRegistros
}





<div class="datagrid">
<table>
    <thead>
    <tr>
        @*<th>
            @Html.DisplayNameFor(model => model.IdSesion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaUltimaTransaccion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaRegistro)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Nombres)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrimerApellido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SegundoApellido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TercerApellido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DocumentoIdentidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdTipoDocumentoIdentidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaNacimiento)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.IdLocalidadNacimiento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MatriculaColegioMedico)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CorreoElectronico)
        </th>*@
        @*<th>
            @Html.DisplayNameFor(model => model.Observaciones)
        </th>*@
        <th></th>
    </tr>
    </thead>
@foreach (var item in Model) {
    <tbody>
    <tr>
        @*<td>
            @Html.DisplayFor(modelItem => item.IdSesion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaUltimaTransaccion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaRegistro)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.Nombres)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PrimerApellido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SegundoApellido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TercerApellido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DocumentoIdentidad)
        </td>
        <td>
            @*@Html.DisplayFor(modelItem => item.IdTipoDocumentoIdentidad)*@
            @ViewBag.TiposDI[item.IdTipoDocumentoIdentidad]
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaNacimiento)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.IdLocalidadNacimiento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MatriculaColegioMedico)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CorreoElectronico)
        </td>*@
        @*<td>
            @Html.DisplayFor(modelItem => item.Observaciones)
        </td>*@
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.Id }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.Id })
        </td>
    </tr>
    </tbody>
}

</table>
</div>