@model Bja.Entidades.Provincia

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<fieldset>
    <legend>Provincia</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IdSesion)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IdSesion)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FechaUltimaTransaccion)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FechaUltimaTransaccion)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FechaRegistro)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FechaRegistro)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Codigo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Codigo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Descripcion)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Descripcion)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Departamento.Descripcion)
    </div>
    <div class="display-field">
        @*@Html.DisplayFor(model => model.Departamento.Descripcion)*@
        @Html.DisplayFor(model => model.IdDepartamento)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
