@model Bja.Entidades.AsignacionMedico

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>AsignacionMedico</legend>

        @Html.HiddenFor(model => model.Id)

        <div class="editor-label">
            @Html.LabelFor(model => model.IdSesion)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IdSesion)
            @Html.ValidationMessageFor(model => model.IdSesion)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FechaUltimaTransaccion)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FechaUltimaTransaccion)
            @Html.ValidationMessageFor(model => model.FechaUltimaTransaccion)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FechaRegistro)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FechaRegistro)
            @Html.ValidationMessageFor(model => model.FechaRegistro)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FechaInicio)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FechaInicio)
            @Html.ValidationMessageFor(model => model.FechaInicio)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FechaFin)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FechaFin)
            @Html.ValidationMessageFor(model => model.FechaFin)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Observaciones)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Observaciones)
            @Html.ValidationMessageFor(model => model.Observaciones)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IdMedico, "Medico")
        </div>
        <div class="editor-field">
            @Html.DropDownList("IdMedico", String.Empty)
            @Html.ValidationMessageFor(model => model.IdMedico)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IdEstablecimientoMedico, "EstablecimientoMedico")
        </div>
        <div class="editor-field">
            @Html.DropDownList("IdEstablecimientoMedico", String.Empty)
            @Html.ValidationMessageFor(model => model.IdEstablecimientoMedico)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
