@model Bja.Entidades.Reclamo

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalles</h2>

<fieldset>
    <legend>Reclamo</legend>

    @*<div class="display-label">
         @Html.DisplayNameFor(model => model.IdSesion)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IdSesion)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FechaUltimaTransaccion)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FechaUltimaTransaccion)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.FechaRegistro)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FechaRegistro)
    </div>*@

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FechaReclamo)
    </div>
    <div class="display-field">
        @*@Html.DisplayFor(model => model.FechaReclamo)*@
        @Model.FechaReclamo.ToString("dd/MM/yyyy")
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IdTipoReclamo)
    </div>
    <div class="display-field">
        @*@Html.DisplayFor(model => model.IdTipoReclamo)*@
        @ViewBag.TipoReclamo
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NombreBeneficiario)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NombreBeneficiario)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DetalleReclamo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DetalleReclamo)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Editar", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Retornar a la lista", "Index")
</p>
